* {
  margin: 0;
  padding: 0;
}
body {
  background-image: radial-gradient(circle at 50% 58%, #2f0b5d, #000000 94%);
}
div {
  text-align: center;
}
input {
  width: 100%;
  margin: 10px;
  padding: 18px 10px;
  border-radius: 4px;
  border: 1px solid #4e5766;
  box-shadow: 1px 0.5px #888888;
  font-size: 18px;
}
button {
  padding: 12px 10px;
  width: 30%;
  border-radius: 4px;
  background-color: #4286f4;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
}

.cards-container {
  width: 600px;
  margin: 0 auto;
}

.card {
  /* border: 1px dashed #f0f; */
  height: 210px;
  text-align: left;
  display: flex;
  margin-bottom: 20px;
}

.card:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.image-container {
  /* border: 1px dashed #ff0; */
  text-align: inherit;
  width: 240px;
  height: 160px;
  border-radius: 2px;
  border: solid 1px #5f02f8;
  background-color: rgba(43, 2, 105, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 20px;
}

.image-container img {
  max-width: 220px;
  max-height: 100px;
}

.details-container {
  /* border: 1px dashed #0ff; */
  text-align: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.details-container p:first-child {
  font-size: 16px;
  line-height: 1.56;
  color: #ffffff;
}
.details-container p:last-child {
  font-size: 14px;
  color: #ffffff;
}
